.portfolio {
  position: relative;
  margin-left: 4rem;
}

.portfolio .box {
  border-radius: 10px;
  position: relative;
}

.portfolio .box:hover {
  background: none;
  transform: translateY(-0);
}

.portfolio .img {
  height: 300px;
  width: 300px;
  overflow: hidden;
  transition: 0.5s;
}

.portfolio img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.5s;
}

.portfolio .box .img:hover img {
  transform: scale(1.05);
}

.portfolio h2 {
  font-size: 18px;
  transition: 0.5s;
  padding-bottom: 30px;
}

.portfolio .box:hover h2 {
  color: black;
}

.project-links a {
  margin-right: 0.725rem;
}

.features-tech p {
  font-size: 12px;
}

@media (max-width: 768px) {
  .portfolio {
    margin-left: 0;
  }

  .modal,
  .overlay {
    overflow: scroll;
  }

  .modal .modal-img {
    margin: 50px 0 50px 0;
  }

  .modal-content {
    flex-direction: column;
  }

  .modal .right,
  .modal .left {
    padding: 0;
  }
}